:root.bubblegum {
  --background: rgb(246, 230, 238);
  --foreground: rgb(91, 91, 91);
  --card: rgb(253, 237, 201);
  --card-foreground: rgb(91, 91, 91);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(91, 91, 91);
  --primary: rgb(208, 79, 153);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(138, 207, 209);
  --secondary-foreground: rgb(51, 51, 51);
  --muted: rgb(178, 225, 235);
  --muted-foreground: rgb(122, 122, 122);
  --accent: rgb(251, 226, 167);
  --accent-foreground: rgb(51, 51, 51);
  --destructive: rgb(249, 111, 112);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(208, 79, 153);
  --input: rgb(228, 228, 228);
  --ring: rgb(230, 112, 171);
  --chart-1: rgb(230, 112, 171);
  --chart-2: rgb(132, 210, 226);
  --chart-3: rgb(251, 226, 167);
  --chart-4: rgb(243, 160, 202);
  --chart-5: rgb(215, 72, 142);
  --sidebar: rgb(248, 216, 234);
  --sidebar-foreground: rgb(51, 51, 51);
  --sidebar-primary: rgb(236, 72, 153);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(249, 168, 212);
  --sidebar-accent-foreground: rgb(51, 51, 51);
  --sidebar-border: rgb(243, 232, 255);
  --sidebar-ring: rgb(236, 72, 153);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.5);
  --shadow-xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.5);
  --shadow-sm:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow-md:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 2px 4px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow-lg:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 4px 6px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow-xl:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 8px 10px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow-2xl: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 2.5);
}

.dark.bubblegum {
  --background: rgb(18, 36, 46);
  --foreground: rgb(243, 227, 234);
  --card: rgb(28, 46, 56);
  --card-foreground: rgb(243, 227, 234);
  --popover: rgb(28, 46, 56);
  --popover-foreground: rgb(243, 227, 234);
  --primary: rgb(251, 226, 167);
  --primary-foreground: rgb(18, 36, 46);
  --secondary: rgb(228, 162, 177);
  --secondary-foreground: rgb(18, 36, 46);
  --muted: rgb(36, 39, 43);
  --muted-foreground: rgb(228, 162, 177);
  --accent: rgb(198, 123, 150);
  --accent-foreground: rgb(243, 227, 234);
  --destructive: rgb(227, 94, 164);
  --destructive-foreground: rgb(18, 36, 46);
  --border: rgb(50, 72, 89);
  --input: rgb(32, 51, 61);
  --ring: rgb(80, 175, 182);
  --chart-1: rgb(80, 175, 182);
  --chart-2: rgb(228, 162, 177);
  --chart-3: rgb(198, 123, 150);
  --chart-4: rgb(23, 92, 108);
  --chart-5: rgb(36, 39, 43);
  --sidebar: rgb(16, 31, 40);
  --sidebar-foreground: rgb(243, 244, 246);
  --sidebar-primary: rgb(236, 72, 153);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(249, 168, 212);
  --sidebar-accent-foreground: rgb(31, 41, 55);
  --sidebar-border: rgb(55, 65, 81);
  --sidebar-ring: rgb(236, 72, 153);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 0.5);
  --shadow-xs: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 0.5);
  --shadow-sm:
    3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1),
    3px 1px 2px -1px hsl(206.15 28.06% 27.25% / 1);
  --shadow:
    3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1),
    3px 1px 2px -1px hsl(206.15 28.06% 27.25% / 1);
  --shadow-md:
    3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1),
    3px 2px 4px -1px hsl(206.15 28.06% 27.25% / 1);
  --shadow-lg:
    3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1),
    3px 4px 6px -1px hsl(206.15 28.06% 27.25% / 1);
  --shadow-xl:
    3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1),
    3px 8px 10px -1px hsl(206.15 28.06% 27.25% / 1);
  --shadow-2xl: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 2.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
