:root.neo-brutalism {
  --background: rgb(255, 255, 255);
  --foreground: rgb(0, 0, 0);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(0, 0, 0);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(0, 0, 0);
  --primary: rgb(255, 51, 51);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(255, 255, 0);
  --secondary-foreground: rgb(0, 0, 0);
  --muted: rgb(240, 240, 240);
  --muted-foreground: rgb(51, 51, 51);
  --accent: rgb(0, 102, 255);
  --accent-foreground: rgb(255, 255, 255);
  --destructive: rgb(0, 0, 0);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(0, 0, 0);
  --input: rgb(0, 0, 0);
  --ring: rgb(255, 51, 51);
  --chart-1: rgb(255, 51, 51);
  --chart-2: rgb(255, 255, 0);
  --chart-3: rgb(0, 102, 255);
  --chart-4: rgb(0, 204, 0);
  --chart-5: rgb(204, 0, 204);
  --sidebar: rgb(240, 240, 240);
  --sidebar-foreground: rgb(0, 0, 0);
  --sidebar-primary: rgb(255, 51, 51);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(0, 102, 255);
  --sidebar-accent-foreground: rgb(255, 255, 255);
  --sidebar-border: rgb(0, 0, 0);
  --sidebar-ring: rgb(255, 51, 51);
  --font-sans: DM Sans, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --radius: 0px;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.0), 4px 1px 2px -1px
    hsl(0 0% 0% / 1.0);
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.0), 4px 1px 2px -1px
    hsl(0 0% 0% / 1.0);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.0), 4px 2px 4px -1px
    hsl(0 0% 0% / 1.0);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.0), 4px 4px 6px -1px
    hsl(0 0% 0% / 1.0);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.0), 4px 8px 10px -1px
    hsl(0 0% 0% / 1.0);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.5);
}

.dark.neo-brutalism {
  --background: rgb(0, 0, 0);
  --foreground: rgb(255, 255, 255);
  --card: rgb(51, 51, 51);
  --card-foreground: rgb(255, 255, 255);
  --popover: rgb(51, 51, 51);
  --popover-foreground: rgb(255, 255, 255);
  --primary: rgb(255, 102, 102);
  --primary-foreground: rgb(0, 0, 0);
  --secondary: rgb(255, 255, 51);
  --secondary-foreground: rgb(0, 0, 0);
  --muted: rgb(51, 51, 51);
  --muted-foreground: rgb(204, 204, 204);
  --accent: rgb(51, 153, 255);
  --accent-foreground: rgb(0, 0, 0);
  --destructive: rgb(255, 255, 255);
  --destructive-foreground: rgb(0, 0, 0);
  --border: rgb(255, 255, 255);
  --input: rgb(255, 255, 255);
  --ring: rgb(255, 102, 102);
  --chart-1: rgb(255, 102, 102);
  --chart-2: rgb(255, 255, 51);
  --chart-3: rgb(51, 153, 255);
  --chart-4: rgb(51, 204, 51);
  --chart-5: rgb(204, 51, 204);
  --sidebar: rgb(0, 0, 0);
  --sidebar-foreground: rgb(255, 255, 255);
  --sidebar-primary: rgb(255, 102, 102);
  --sidebar-primary-foreground: rgb(0, 0, 0);
  --sidebar-accent: rgb(51, 153, 255);
  --sidebar-accent-foreground: rgb(0, 0, 0);
  --sidebar-border: rgb(255, 255, 255);
  --sidebar-ring: rgb(255, 102, 102);
  --font-sans: DM Sans, sans-serif;
  --font-serif: undefined;
  --font-mono: Space Mono, monospace;
  --radius: 0px;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.0), 4px 1px 2px -1px
    hsl(0 0% 0% / 1.0);
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.0), 4px 1px 2px -1px
    hsl(0 0% 0% / 1.0);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.0), 4px 2px 4px -1px
    hsl(0 0% 0% / 1.0);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.0), 4px 4px 6px -1px
    hsl(0 0% 0% / 1.0);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.0), 4px 8px 10px -1px
    hsl(0 0% 0% / 1.0);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.5);
}
