:root.twitter {
  --background: rgb(255, 255, 255);
  --foreground: rgb(15, 20, 25);
  --card: rgb(247, 248, 248);
  --card-foreground: rgb(15, 20, 25);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(15, 20, 25);
  --primary: rgb(30, 157, 241);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(15, 20, 25);
  --secondary-foreground: rgb(255, 255, 255);
  --muted: rgb(229, 229, 230);
  --muted-foreground: rgb(15, 20, 25);
  --accent: rgb(227, 236, 246);
  --accent-foreground: rgb(30, 157, 241);
  --destructive: rgb(244, 33, 46);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(225, 234, 239);
  --input: rgb(247, 249, 250);
  --ring: rgb(29, 161, 242);
  --chart-1: rgb(30, 157, 241);
  --chart-2: rgb(0, 184, 122);
  --chart-3: rgb(247, 185, 40);
  --chart-4: rgb(23, 191, 99);
  --chart-5: rgb(224, 36, 94);
  --sidebar: rgb(247, 248, 248);
  --sidebar-foreground: rgb(15, 20, 25);
  --sidebar-primary: rgb(30, 157, 241);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(227, 236, 246);
  --sidebar-accent-foreground: rgb(30, 157, 241);
  --sidebar-border: rgb(225, 232, 237);
  --sidebar-ring: rgb(29, 161, 242);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0);
  --shadow-sm: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0), 0px 1px 2px -1px
    hsl(202.82 89.12% 53.14% / 0.0);
  --shadow: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0), 0px 1px 2px -1px
    hsl(202.82 89.12% 53.14% / 0.0);
  --shadow-md: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0), 0px 2px 4px -1px
    hsl(202.82 89.12% 53.14% / 0.0);
  --shadow-lg: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0), 0px 4px 6px -1px
    hsl(202.82 89.12% 53.14% / 0.0);
  --shadow-xl: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0), 0px 8px 10px
    -1px hsl(202.82 89.12% 53.14% / 0.0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0);
}

.dark.twitter {
  --background: rgb(0, 0, 0);
  --foreground: rgb(231, 233, 234);
  --card: rgb(23, 24, 28);
  --card-foreground: rgb(217, 217, 217);
  --popover: rgb(0, 0, 0);
  --popover-foreground: rgb(231, 233, 234);
  --primary: rgb(28, 156, 240);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(240, 243, 244);
  --secondary-foreground: rgb(15, 20, 25);
  --muted: rgb(24, 24, 24);
  --muted-foreground: rgb(114, 118, 122);
  --accent: rgb(6, 22, 34);
  --accent-foreground: rgb(28, 156, 240);
  --destructive: rgb(244, 33, 46);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(36, 38, 40);
  --input: rgb(34, 48, 60);
  --ring: rgb(29, 161, 242);
  --chart-1: rgb(30, 157, 241);
  --chart-2: rgb(0, 184, 122);
  --chart-3: rgb(247, 185, 40);
  --chart-4: rgb(23, 191, 99);
  --chart-5: rgb(224, 36, 94);
  --sidebar: rgb(23, 24, 28);
  --sidebar-foreground: rgb(217, 217, 217);
  --sidebar-primary: rgb(29, 161, 242);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(6, 22, 34);
  --sidebar-accent-foreground: rgb(28, 156, 240);
  --sidebar-border: rgb(56, 68, 77);
  --sidebar-ring: rgb(29, 161, 242);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0);
  --shadow-sm: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0), 0px 1px 2px -1px
    hsl(202.82 89.12% 53.14% / 0.0);
  --shadow: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0), 0px 1px 2px -1px
    hsl(202.82 89.12% 53.14% / 0.0);
  --shadow-md: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0), 0px 2px 4px -1px
    hsl(202.82 89.12% 53.14% / 0.0);
  --shadow-lg: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0), 0px 4px 6px -1px
    hsl(202.82 89.12% 53.14% / 0.0);
  --shadow-xl: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0), 0px 8px 10px
    -1px hsl(202.82 89.12% 53.14% / 0.0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.0);
}
